{{ define "tmpl/footer.tmpl" }}

<!-- 百度网站放客分析 -->
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?bf4c2a8d6ae620ec6d1c940e37d9c641";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>


<div id="footer">
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">&copy; 2021 Liao Tonglang
        </p>
        <ul class="nav col-md-4 justify-content-end">

            <li class="nav-item">
                <!-- Place this tag where you want the button to render. -->
                <a class="github-button" href="https://github.com/zltl/mockoauth" data-size="large"
                    aria-label="Star zltl/mockoauth on GitHub" class="nav-link px-2 text-muted">Star</a>
            </li>
        </ul>
    </footer>
</div>

{{ end }}